body {
	background-color: #eee;
	font-family: Helvetica, sans-serif;
	margin: 0;
}
.wrapper {
	background-color: rgba(242, 101, 34, 1);
	height: 100%;
	margin: 0 auto;
	width: 100%;
}
header {
/* 	background-color: rgba(242, 101, 34, 1); */
	background: #f26522;
	background: -moz-linear-gradient(top,  #f26522 25%, #d85108 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#f26522), color-stop(100%,#d85108));
	background: -webkit-linear-gradient(top,  #f26522 25%,#d85108 100%);
	background: -o-linear-gradient(top,  #f26522 25%,#d85108 100%);
	background: -ms-linear-gradient(top,  #f26522 25%,#d85108 100%);
	background: linear-gradient(to bottom,  #f26522 25%,#d85108 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26522', endColorstr='#d85108',GradientType=0 );
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 30;
}
header ul {
	float: left;
	height: 100%;
	width: 100%;
}
header ul li {
	font-family: "proxima-nova", Helvetica, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	width: 33.3333333%;
}
header ul li:first-child {
	float: left;
}
header ul li:nth-child(2) {
	display: inline-block;
	text-align: center;
}
header ul li:nth-child(2) a {
	background: rgba(242, 101, 34, 1);
}
header ul li:nth-child(2) a:hover,
header ul li:nth-child(2) a:active {
	background: #f26522;
	background: -moz-linear-gradient(top,  #f26522 25%, #d85108 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#f26522), color-stop(100%,#d85108));
	background: -webkit-linear-gradient(top,  #f26522 25%,#d85108 100%);
	background: -o-linear-gradient(top,  #f26522 25%,#d85108 100%);
	background: -ms-linear-gradient(top,  #f26522 25%,#d85108 100%);
	background: linear-gradient(to bottom,  #f26522 25%,#d85108 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26522', endColorstr='#d85108',GradientType=0 );
}	
header ul li:last-child {
	/* float: right; */
	position: absolute;
	right: 0;
	top: 0;
}
header ul li a {
	color: #fff;
	display: block;
	height: 100%;
	text-decoration: none;
}
header li:first-child .topControl {
	text-align: left;
}
header li:first-child .topControl i {
	margin: .4em 0 0 .3em;
}
header li:last-child .topControl {
	text-align: right;
}
header li:last-child .topControl i {
	margin: .4em .3em 0 0;
}
header .topControl i {
	font-size: 1.8em;
	position: relative;
}
header .topControl span {
	left: -9999em;
	position: absolute;
}
header .exposeCalendar {
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 3px;
	height: 44px;
	margin: 2px 25%;
	text-transform: uppercase;
}
header .exposeCalendar span,
.calendar table span {
	color: #fff;
	display: block;	
}
.calday {
	font-size: .4em;
	font-weight: 400;
	text-transform: uppercase;
}
header .calday {
	padding: .5em 0 0;
}
.calnumber {
	font-size: 1.8em;
	font-weight: 400;
}
/*
header .calendarswipe {
	
}
*/
.section,
.container,
.overlay {
	height: 100%;
	position: absolute;
	width: 100%;
	-webkit-transition: all 0.5s ease;	
}
.section {
	overflow: hidden;
}
.container {
	box-sizing: border-box;	
	-webkit-transform-origin: 50% 0px;
	z-index: 10;
}
.calendar {
	background-color: #000;
	display: block;
	height: 120px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 20;
	-webkit-transition: all 0.5s ease;
	-webkit-transform: translateY(-200%);	
}
.calendar.active {
	-webkit-transform: translateY(0);
}
.calendar table {
	border-collapse: collapse;
	font-family: "proxima-nova", Helvetica, sans-serif;
	width: 100%;
}
.calendar table th {
	background-color: rgba(68, 68, 68, 1);
	border: 1px solid rgba(0, 0, 0, .4);
	color: #ccc;
	font-size: .85em;
	font-weight: 300;
	height: 22px;
	vertical-align: middle;
	text-transform: uppercase;
	width: 14.2857143%;
}
.calendar table th:first-child,
.calendar table td:first-child {
	border-left: none;
}
.calendar table th:last-child,
.calendar table td:last-child {
	border-right: none;
}
.calendar table tr {
	width: 100%;
}
.calendar table tr td {
	background-color: #222;
	border: 1px solid rgba(0, 0, 0, .4);
	text-align: center;
	vertical-align: top;
	width: 14.2857143%;
}
.calendar table a {
	color: #ccc;
	display: block;
	padding: .6em 0;
	text-decoration: none;	
}
.calendar table a:hover {
	background-color: rgba(255, 255, 255, .2);
	color: #fff;
}
.calendar table .today a {
	background-color: rgba(0, 0, 0, .9);
	color: #ccc;
}
.calendar table .active a {
	background-color: rgba(242, 101, 34, 1);
	color: #fff;
}
.calendar table .inactive a {
	background-color: rgba(255, 255, 255, .1);
}
.calendar table .inactive a span {
	color: #666;
}
.front {
	background-color: rgba(242, 101, 34, 1);
	box-sizing: border-box;
	padding-top: 50px;
	z-index: 10;
}
/*
.container.active {
	-webkit-transform: translateY(126px); 
}
*/
.front.backExposed,
header.headerMoved {
	-webkit-transform: translateX(270px);
	-webkit-transition-timing-function: ease-out;
}
.back {
	background-color: #222;
	z-index: 1;
}
.back .controls {
	background-image: url('../images/box-back.png');
	background-position: 10px 12px;
	background-repeat: no-repeat;
	float: left;
	margin: 0;
	padding: 50px 10px 0 0;
	width: 270px;
}
.back .controls li {
	border-bottom: 1px solid #333;
	color: #fff;
	float: left;
	font-family: "proxima-nova", Helvetica, sans-serif;		
	font-size: .85em;
	margin: 0;
	width: 50%;
}
.back .controls li:first-child {
	border-top: 1px solid #333;
}
.back .controls li.wide {
	width: 100%;
}
.back .controls li.cat a {
	border-right: 1px solid #333;
}
.back .controls li a {
	background-color: #111;
	color: #ccc;
	display: block;
	padding: 1em;
	text-decoration: none;
}
.back .controls li a:hover,
.back .controls li a:active {
	background-color: rgba(0, 0, 0, 0.5);
}
.back .controls li.selected a {
	background-color: rgba(255, 255, 255, .9);
	color: #333;
}
.back .controls .buttons {
	bottom: 0;
	position: absolute;
}
.back .controls .buttons li {
	background-color: rgba(255, 255, 255, .1);
	border-top: 1px solid #444;
	float: left;
	margin: 0;
	padding: 10px;
	width: 115px;
}
.back .controls .buttons li span {
	display: block;
	font-family: "proxima-nova", Helvetica, sans-serif;
	margin: 0 0 .5em;
}
.back .controls button {
	background: #7d7e7d;
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
	border: 1px solid rgba(0, 0, 0, .2);
	color: #fff;
	font-family: "proxima-nova", Helvetica, sans-serif;		
	font-weight: 300;
	line-height: 1.2em;
	margin: 0;	
	padding: 6px 12px;
	text-transform: uppercase;
}
.back .controls button[disabled="disabled"] {
	background: #d85108;
	background: -moz-linear-gradient(top,  #d85108 0%, #f26522 75%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d85108), color-stop(75%,#f26522));
	background: -webkit-linear-gradient(top,  #d85108 0%,#f26522 75%);
	background: -o-linear-gradient(top,  #d85108 0%,#f26522 75%);
	background: -ms-linear-gradient(top,  #d85108 0%,#f26522 75%);
	background: linear-gradient(to bottom,  #d85108 0%,#f26522 75%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d85108', endColorstr='#f26522',GradientType=0 );
	font-weight: 700;
}
.back .controls button:nth-child(2) {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-right: -5px;	
}
.back .controls button:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;	
}
.overlay {
	background-color: rgba(0, 0, 0, .4);
	box-shadow: 2px 0 12px rgba(0, 0, 0, .2);
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateX(-110%);
	-webkit-transition: -webkit-transform .5s ease-out;
	z-index: 4000;
}
.overlay .page {
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, .3);
	position: relative;
}
.overlayExposed {
	-webkit-transform: translateX(0);
}
.closeOverlay {
	background-image: url('../images/appclosecorner.png');
	background-position: 100% -56px;
	background-repeat: no-repeat;
	display: block;
	height: 56px;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-indent: -9999em;
	top: 0;
	width: 56px;
	-webkit-appearance: none;
}
.closeOverlay:active {
	background-position: 100% 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	color: rgba(0, 0, 0, 1);
}
.grid {
	float: left;
	height: 100%;
	min-height: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	width: 100%;
}
.grid .g-row {
	background-color: #fff;
	float: left;
	margin: 0;
	width: 100%;
}
.grid .g-row .g-channel {
	float: left;
	width: 20%;
}
.grid .g-row .g-channel p {
	color: #333;
	font-size: 0.75em;
	font-weight: bold;
	letter-spacing: -.05em;
	line-height: 1.4em;
	padding: .9em .5em 1em;
}
.grid .g-row .g-progs {
	background-color: #fff;
	float: left;
	width: 80%;
	-webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-transform-style: preserve-3d;	
}
.grid .g-row .g-times {
	border-bottom: 1px dashed #333;
	color: rgba(242, 101, 34, 1);
	float: right;
	font-size: 1.4em;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0 0 .3em;
	padding: .4em 0 .2em;
	text-transform: uppercase;
}
.grid .g-row .g-progs ul {
	height: 100%;
	min-height: 100%;	
	overflow: hidden;
	width: 100%;
}
.grid .g-row .g-progs .g-prog {
	float: left;
	height: 100%;
	min-height: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,0);
   	width: 50%; 	
}
.channels {
	background-color: #999;
	-webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-transform-style: preserve-3d;
}
.channels,
.channels>ul {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	width: 33.333333%;	
}
.channels>ul {
	background-color: #eee;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
ul.animate {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.channels ul {
	transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}	
.channel {
	float: left;
	height: 100%;
	min-height: 100%;
	/*
overflow: scroll;
	-webkit-overflow-scrolling: touch;
*/
	-webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,0);
}
.channel:last-child {
	border: none;
}
.channel .gutter {
	/* border-right: 1px dotted #ccc; */
	box-sizing: border-box;
	float: left;
	margin: 24px 0 0;
	/* Bottom padding for spillover at end of each day */
	/* Essentially height of header */
	padding: 0 0 50px;
	width: 100%;
}
.channel>h1 {
	background-color: rgba(51, 51, 51, 1);
	/*
border-right: 4px solid rgba(51, 51, 51, 1);
	border-left: 4px solid rgba(51, 51, 51, 1);
*/

	color: #fff;
	height: 18px;
	font-family: "proxima-nova", Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: 600;
	left: 0;
	line-height: 1.2em;
	margin: 0;
	padding: 4px 7px 2px;
	position: absolute;
	text-transform: uppercase;
	top: 0;
	right: 0;
	z-index: 1;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*
.channel:first-child>h1 {
	margin-left: 5px;
}
*/
figure {
	float: left;
	margin: 0 0 1em;
	width: 100%;
}
figcaption {
	color: #666;
	font-family: "proxima-nova", Helvetica, sans-serif;
	font-size: .85em;
	font-style: italic;
	font-weight: 400;
	margin: 10px 20px;
}
img {
	height: auto;
	width: 100%;
}
.m-group {
	overflow: hidden;
}
article {
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 0 4px 10px;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.gutter .on-the-hour article {
	border-top: 2px solid rgba(242, 101, 34, 1);	
}
.overlay article {
	border: none;
	margin: 0;
}
article:active {
	background-color: #f5f5f5;
}
.overlay article:active {
	background-color: #fff;
}
article dl {
	float: left;
	position: relative;
	width: 100%;
}
article dt {
	color: #333;
	font-family: "proxima-nova", Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: -0.05em;
	line-height: 1.1em;
	margin: 1.8em 0 7px;
}
article dt,
article dd {
	margin-left: 7px;
	margin-right: 7px;
}
.g-prog article:first-child dt {
	margin: 0 0 .8em;
}
article dt .year {
	color: #666;
	font-weight: 100;
}
article dd {
	font-family: "proxima-nova", Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.1em;
}
article.active {
	background-color: rgba(242, 101, 34, 1);
	color: #fff;
}
article.active .p-time,
article.active dt {
	color: #fff;
}
article.active i {
	color: #fff;
}
article p {
	font-family: "proxima-nova", Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 600;
	line-height: 1.3em;
}
article p + p {
	font-weight: 400;
	text-indent: 1em;
}
.p-desc {
	color: #666;
	font-size: 0.75em;
	font-weight: 400;
	line-height: 1.2em;
	margin-bottom: 7px;
}
.p-time {
	color: rgba(242, 101, 34, 1);
	font-weight: 300;
	position: absolute;
	top: 7px;
}
.p-channel {
	color: rgba(242, 101, 34, 1);
	font-weight: 800;
	left: 100px;
	position: absolute;
	top: 20px;
}
article dt i {
	color: #999;
	position: absolute;
	right: 5px;
	top: 7px;
}
.on-the-hour .p-time {
	font-weight: 600;
}
.p-details {
	float: left;
	font-weight: 600;
	margin-top: .3em;
	margin-bottom: .3em;
	width: 100%;
}

.overlay article dt {
	font-size: 1.6em;
	line-height: 1.2em;
	margin: 2.1em 0 0;
}
.overlay article dt i {
	bottom: 18px;
	font-size: 0.8em;
	right: 0;
	top: inherit;
}
.overlay .p-details {
	margin: 1em 0;
}
.overlay .p-time {
	top: 20px;
}
.overlay article dl,
.overlay article .col {
	margin-left: 20px;
	margin-right: 20px;
	width: inherit;
}
.overlay article .col {
	padding-bottom: 20px;
}
.overlay article .p-time {
	margin: 0;
}
.overlay .replay a {
	font-size: 1em;
	margin-left: -3px;
}

.p-details ul li {
	color: #666;
	float: left;
	font-size: 0.7em;
	line-height: 1.1em;
	margin: 0 .3em 0 0;
	padding: .2em .3em;
	text-transform: uppercase;	
}
.p-details ul li.hd {
	background-color: #666;
	border-radius: 2px;
	font-weight: 400;
	color: #fff;
}
.p-details ul li.repeat {
	background-color: #c00;
	border-radius: 2px;
	color: #fff;
}
.p-details ul li.subtitles {
	background-color: #7fae4d;
	border-radius: 100%;
	color: #fff;
	padding: .2em .4em;
}
/*
.p-details ul li.replay {
	margin: 0;
	text-transform: inherit;
}
.p-details ul li.replay a {
	background-color: #eee;
	border: 1px solid #ccc;
	color: #333;
	float: left;
	font-weight: 400;
	padding: .2em .4em;
	text-decoration: none;	
}
*/

.extras {
	
	float: left;
	font-family: "proxima-nova", Helvetica, sans-serif;
	font-size: .75em;

	line-height: 1.3em;
	margin: 5px 0;
	width: 100%;
/*
	padding: 7px 0 0;
	position: absolute;
	right: 7px;
*/
}
.replay a {
	background: rgba(242, 101, 34, 1);
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 2px;
	color: #fff;
	/* display: block; */
	font-weight: 600;
	margin: 0 7px;
	padding: 4px 6px;
	text-decoration: none;
	text-transform: inherit;
}
.replay a:hover,
.replay a:active {
	background: #f26522;
	background: -moz-linear-gradient(top,  #f26522 25%, #d85108 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#f26522), color-stop(100%,#d85108));
	background: -webkit-linear-gradient(top,  #f26522 25%,#d85108 100%);
	background: -o-linear-gradient(top,  #f26522 25%,#d85108 100%);
	background: -ms-linear-gradient(top,  #f26522 25%,#d85108 100%);
	background: linear-gradient(to bottom,  #f26522 25%,#d85108 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26522', endColorstr='#d85108',GradientType=0 );
}


.p-details ul li.replay a {

}
.p-details ul li.length {
	float: right;
	margin: 0 3em 0 0;
	padding: .2em 0;
	text-align: right;
}
/* Search page */
.search {
	background-color: rgba(242, 101, 34, 1);
	background-image: url('../images/box.png');
	background-position: 50% 10px;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
.search form {
	margin: 0 auto;
	padding: 110px .85em 0;
	text-align: center;
}
.search form ul li:first-child {
	background-color: #fff;
	padding: .5em;
}
.search form input {
	width: 100%;
}
.search form input[type="text"] {
	border: none;
	font-family: "proxima-nova", Helvetica, sans-serif;
	font-size: 1.4em;
	font-weight: 400;
	text-align: center;
	-webkit-text-size-adjust: none;
	width: 90%;
}
/* Need to consolidate this CSS into standard button stuff if proceeding with its look... */
.search form input[type="submit"] {
	background: #7d7e7d;
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
	border: none;
	color: #fff;
	font-family: "proxima-nova", Helvetica, sans-serif;
	font-size: 1.4em;		
	font-weight: 300;
	line-height: 1.2em;
	margin: .5em 0;	
	padding: 6px 12px;
	width: 150px;
}
.search .options {
	float: left;
	margin: .85em;
}
.search .options ul {
	float: left;
	width: 100%;
}
.search .options li {
	float: left;
	width: 50%;
}
.search .options li.wide {
	width: 100%;
}
.search .options li a {
	background-color: rgba(0, 0, 0, .2);
	border: 1px solid rgba(242, 101, 34, 1);
	color: #fff;
	display: block;
	font-family: "proxima-nova", Helvetica, sans-serif;
	font-size: 1.4em;		
	font-weight: 600;	
	padding: .65em;
	text-decoration: none;
}

/* Dark theme */
.dark header {
	background-color: #333;
}
.dark .overlay .page {
	background-color: #222;
}
.dark .channels>ul {
	background-color: #222;	
}
.dark .channel .gutter {
	border-right: 1px dotted #666;	
}
.dark .channel>h1 {
	background-color: rgba(17, 17, 17, 1);
}
.dark article {
	background-color: rgba(17, 17, 17, 1);
	border-top: 1px dotted #666;
}
.dark .gutter .on-the-hour article {
	border-top: 2px solid #666;	
}
.dark article:active {
	background-color: #333;
}
.dark article dt {
	color: #999;
}
.dark .p-time,
.dark .p-channel {
	color: #ccc;
}
.dark .search {
	background-color: #333;
}
.dark .search .options li a {
	border-color: #333;
}
@media (max-width: 767px) {
	/* no gutter on narrow screens */
	.channel .gutter {
		border-right: 1px dotted #ccc;
	}
	.channel>h1 {
		margin: 0;
	}
	article {
		border: none;
		border-top: 1px solid #ccc;
		margin: 0 0 10px;
	}	
}
@media (min-width: 768px) {
	/* A few tests of mark-up for responsive site */
	.channels,
	.channels>ul {
		width: 12.5%;	
	}
	.search .options {
		float: inherit;
		margin: .85em auto;
		width: 520px;
	}
	.search form ul li:first-child {
		margin: 0 auto;
		width: 500px;
	}
	.search form input[type="text"] {
		width: 50%;
	}
	.overlay .page {
		width: 25%;
	}
	.channel>h1 {
		padding-left: 11px;
		padding-right: 11px;
	}
	article {
		border-right: none;
		margin: 0 0 10px;
	}
	article dt,
	article dd {
		font-size: 1.1em;
		margin-left: 10px;
		margin-right: 10px;
	}
	.p-time {
		top: 10px;
	}
	.p-desc {
		margin-bottom: 10px;
	}
	article dt i {
		right: 10px;
		top: 10px;
	}
	.extras .replay a {
		margin: 0 10px;
	}
}
@media (max-width: 468px) {
	/*
.search .options ul {
		width: 100%;
	}
	.search .options li {
		width: 25%;
	}
*/
}
@media (-webkit-min-device-pixel-ratio: 2) {	
	.back .controls {
		background-image: url('../images/box-back@2x.png');
		background-size: 59px 26px;
	}	
	.closeOverlay {
		background-image: url('../images/appclosecorner@2x.png');
		background-size: 56px 112px;
	}
	.search {
		background-image: url('../images/box@2x.png');
		background-size: 170px 70px;
	}	
}